@*@model Models.EntityFramework.Footer
@Html.Raw(Model.Content)*@
<div class="wrap">
    <div class="section group">
        <div class="col_1_of_4 span_1_of_4">
            <h4>Về chúng tôi</h4>
            <ul>
                <li><a href="about.html">About Us</a></li>
            </ul>
        </div>
        <div class="col_1_of_4 span_1_of_4">
            <h4>Tại sao bạn nên mua hàng tại Book Store</h4>
            <ul>
                <li><a href="contact.html">Customer Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col_1_of_4 span_1_of_4">
            <h4>Tài khoản của bạn</h4>
            <ul>
                <li><a href="contact.html">Sign In</a></li>
                <li><a href="index.html">View Cart</a></li>
                <li><a href="#">My Wishlist</a></li>
            </ul>
        </div>
        <div class="col_1_of_4 span_1_of_4">
            <h4>Liên hệ</h4>
            <ul>
                <li><span>+91-123-456789</span></li>
                <li><span>+00-123-000000</span></li>
            </ul>
            <div class="social-icons">
                <h4>Theo dõi chúng tôi</h4>
                <ul>
                    <li><a href="#" target="_blank"><img src="/Assets/Client/images/facebook.png" alt="" /></a></li>
                    <li><a href="#" target="_blank"><img src="/Assets/Client/images/twitter.png" alt="" /></a></li>
                    <li><a href="#" target="_blank"><img src="/Assets/Client/images/skype.png" alt="" /> </a></li>
                    <li><a href="#" target="_blank"><img src="/Assets/Client/images/dribbble.png" alt="" /></a></li>
                    <li><a href="#" target="_blank"><img src="/Assets/Client/images/linkedin.png" alt="" /></a></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copy_right">
</div>