@model List<OnlineShop.Models.CartItem>
<p>
    Chào mừng bạn đến với Books Shop <span>Giỏ hàng:</span>
    <div id="dd" class="wrapper-dropdown-2">
        @Model.Count item(s) - $ @Model.Sum(x => x.Product.Price * x.Quantity)
        <ul class="dropdown">
            <li>Bạn có @Model.Count sản phẩm trong trong giỏ hàng</li>
        </ul>
    </div>
</p>