@model List<Models.EntityFramework.Menu>
<div class="menu">
    <ul>
        @foreach (var item in Model)
        {
            <li style="width: auto; text-align:center;"><a href="@item.Link" target="@item.Target">@item.Text</a></li>
        }
        <li class="clear"></li>
    </ul>
</div>

